[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Mhorseshoe"]
	path = Mhorseshoe
	url = https://github.com/rkdalsrl1511/mhorseshoe
